<ion-view title="Ayuda">
  <ion-content>
    <div class="row responsive-sm">
  <div class="col"><h4 class="title">En el menú principal usted puede encontrar las siguientes opciones:</h4></div></div>

  	<div class="card">
  		<div class="item item-divider">
    		Monitor
  		</div>
  		<div class="item item-text-wrap">
    		Acciendo a esta opción usted podrá relizar un control en tiempo real de sus pulsaciones por minuto. 
  		</div>
	</div>
	<div class="card">
  		<div class="item item-divider">
    		Alerta
  		</div>
  		<div class="item item-text-wrap">
    		Aquí usted podra activar o dasactivar el sistema de alertas. En caso de estar activo usted podra establecer un valor límite, el cual al ser alcanzado en la opción de Monitor, sera notificado con una alerta.
  		</div>
	</div>
	<div class="card">
  		<div class="item item-divider">
    		Estadísticas
  		</div>
  		<div class="item item-text-wrap">
    		Gracias a esta opción usted podra consultar un registro de las ultimas mediciones de sus pulsaciones, con su fecha y horario, así como tambien cual fue el valor promedio de las mismas.
  		</div>
	</div>
	<div class="card">
  		<div class="item item-divider">
    		Contacto
  		</div>
  		<div class="item item-text-wrap">
    		Gracias por utilizar Pulse Watch, estamos abiertos a recibir cualquier tipo de consejo para mejorar nuestro producto.
    		<p>E-mail: pulsewatchunlp@gmail.com</p>
  		</div>
	</div>
  </ion-content>
</ion-view>