<ion-view title="Estadisticas">
  <ion-content>
  <div class="row">
    <div class="col">Promedio último minuto: {{mediciones.last_minute_mesures_prom}}</div>
    <div class="col">Promedio últimos 5 minuto: {{mediciones.last_5_minutes_mesures_prom}}</div>
    <div class="col">Promedio histórico: {{mediciones.all_mesures_prom}}</div>
    <div class="col">Medición más alta: {{mediciones.max_mesure}}</div>
  </div>
  <h1>Ultimas</h1>
  <div class="row">
	  <div class="col col-25"">Valor</div>
	  <div class="col col-75"">Fechas</div>
  </div>
  <div ng-repeat="item in mediciones.mesures" style="background-color: #FFFFFF;">
  	<div class="row">
	  <div class="col col-25"">{{item.value}} BPM</div>
	  <div class="col col-75"">{{item.created_at | date: "dd/MM/y - HH:mm:ss" }}</div>
	</div>
  </div> 
  <script src="i18n/angular-locale_es-es.js"></script>  
  </ion-content>
</ion-view>