<ion-view title="Pulsaciones">
    <ion-content scroll="false">
      <center>
      <div class="row">
      <div class="col">
      <div ng-class="{'circle': state== 'connected', 'circle2': state=='disconnected' }" ng-click="connect()">
        <!--<h2 class="texto-centro" >-->
           {{pulseBPM}} BPM
        <!--</h2>-->
      </div>
      </div>
      </div>
      
      <div class="row">
      <div class="col">
        <div class="card">
        <div class="item item-text-wrap" style="color:red;">
        {{alerta}}
        </div>
        </div>
      </div>
      </div>
      
    </center>
    </ion-content>
  <div class="bar bar-footer bar-positive" ng-click="disconnect()">
  <div class="title">{{message}}</div>
 </div>
</ion-view>
